//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color : white;


:root{
    --background-color: darkred;
}

body {
    background-color: $body-background-color;
}